<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Learning outcome generator</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/generate3.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="progress">
          <div class="determinate" style="width: 100%"></div>
      </div>

      <br><br>
      <h3 class="header center orange-text">Generated outcomes</h3>
      <div class="row center">
        <h5 id="course_info" class="header col s12 light">Do we want some text here....?</h5>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section" >
      <table class="outcome_list">
      </table>

    </div>
  <br><br>
  </div>

  <div class="container">
    <div class="section">
      <p class="center">
        <button id="outcome_download" class="btn-large waves-effect waves-light">Download
          <i class="material-icons right">cloud_download</i>
        </button>
        <a class="waves-effect waves-light btn-large modal-trigger orange" href="#modal1">Rate our generator</a>

          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h6 class="center">How convenient was our generator?</h6>
              <p class="center">
                  <br><br>
                  <div class="rate">
                      <input type="radio" id="star5" name="rate" value="5" />
                      <label for="star5" title="text">5 stars</label>
                      <input type="radio" id="star4" name="rate" value="4" />
                      <label for="star4" title="text">4 stars</label>
                      <input type="radio" id="star3" name="rate" value="3" />
                      <label for="star3" title="text">3 stars</label>
                      <input type="radio" id="star2" name="rate" value="2" />
                      <label for="star2" title="text">2 stars</label>
                      <input type="radio" id="star1" name="rate" value="1" />
                      <label for="star1" title="text">1 star</label>
                  </div>
                  <br><br> 
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Submit</a>
            </div>
          </div>
        </p>
        <br>
        <p class="center">
          <a href="/">
            Return Home
            <i class="material-icons" style="font-size: 30px">home</i>
          </a>
        </p>

      </div>
      <br><br>
    </div>

    <footer class="page-footer orange">
      <div class="container">
        <h5 class="white-text transparent">Did you know?</h5>
        <br>
        <p class="white-text transparent">
          For the learning outcomes generated by you, we recommend suitable assessments too!
          To see the potential assessments for your new outcomes, simply download your outcomes. The assessments will be included in the text file.
          We are working hard to make the process easier for you, your feedback will be always welcome.

        </p>           
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">A Team</a>
        </div>
      </div>
    </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/materialize.js"></script>
  <script>
      var outcome_list = {{ outcome_list | tojson }};
      var course_info = {{ course_info|tojson }};
      var assess_rec = {{ assess_rec|tojson }};
  </script>
  <script src="static/generate3.js"></script>


  </body>
</html>
