<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Learning outcome generator</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/generate1.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="icon-block">
          <h2 class="center orange-text"><i class="material-icons">build</i></h2>
        <h3 class="header center orange-text text-lighten-2">Build your learning outcomes</h3>
        <br><br>
        <!-- the list goes here-->
        <br><br>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row" id="outcome1">
        <div class="col s12 m4">
            <select id="outcome_verb_1">

            </select>
        </div>

        <div class="col s12 m4">
          <select id=outcome_key_phrases_1>
          </select>
        </div>

        
        <div class="input-field col s12 m4">
          <input id="input_text_1" type="text" data-length="20">
          <label for="input_text_1">Input text</label>
        </div>
      </div>


      <div class="row" id="outcome2">
        <div class="col s12 m4">
          <select id="outcome_verb_2">

          </select>
        </div>
        
        <div class="col s12 m4">
          <select id=outcome_key_phrases_2>
          </select>
        </div>
        
        <div class="input-field col s12 m4">
          <input id="input_text_2" type="text" data-length="20">
          <label for="input_text_2">Input text</label>
        </div>
      </div>


      <div class="row" id="outcome3">
        <div class="col s12 m4">
          <select id="outcome_verb_3">

          </select>
        </div>
        
        <div class="col s12 m4">
          <select id=outcome_key_phrases_3>
          </select>
        </div>

        <div class="input-field col s12 m4">
          <input id="input_text_3" type="text" data-length="20">
          <label for="input_text_3">Input text</label>
        </div>
      </div>

      <div class="row" id="outcome4">
        <div class="col s12 m4">
          <select id="outcome_verb_4">

          </select>
        </div>

        <div class="col s12 m4">
          <select id=outcome_key_phrases_4>

          </select>
        </div>
        
        <div class="input-field col s12 m4">
          <input id="input_text_4" type="text" data-length="20">
          <label for="input_text_4">Input text</label>
        </div>
      </div>

      <div class="row" id="outcome5">
        <div class="col s12 m4">
          <select id="outcome_verb_5">

          </select>
        </div>

        <div class="col s12 m4">
          <select id=outcome_key_phrases_5>

          </select>
        </div>
        
        <div class="input-field col s12 m4">
          <input id="input_text_5" type="text" data-length="20">
          <label for="input_text_5">Input text</label>
        </div>
      </div>

      <div class="row" id="outcome6">
        <div class="col s12 m4">
          <select id="outcome_verb_6">

          </select>
        </div>

        <div class="col s12 m4">
          <select id=outcome_key_phrases_6>

          </select>
        </div>
        
        <div class="input-field col s12 m4">
          <input id="input_text_6" type="text" data-length="20">
          <label for="input_text_6">Input text</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m4">
          <input id="input_text_7_1" type="text" data-length="20">
          <label for="input_text_7_1">Input text</label>
        </div>

        <div class="input-field col s12 m4">
          <input id="input_text_7_2" type="text" data-length="20">
          <label for="input_text_7_2">Input text</label>
        </div>

        <div class="input-field col s12 m4">
          <input id="input_text_7_3" type="text" data-length="20">
          <label for="input_text_7_3">Input text</label>
        </div>

        <div class="input-field col s12 m4">
          <input id="input_text_8_1" type="text" data-length="20">
          <label for="input_text_8_1">Input text</label>
        </div>

        <div class="input-field col s12 m4">
          <input id="input_text_8_2" type="text" data-length="20">
          <label for="input_text_8_2">Input text</label>
        </div>

        <div class="input-field col s12 m4">
          <input id="input_text_8_3" type="text" data-length="20">
          <label for="input_text_8_3">Input text</label>
        </div>

        <div class="input-field col s12 m4">
          <input id="input_text_9_1" type="text" data-length="20">
          <label for="input_text_9_1">Input text</label>
        </div>

        <div class="input-field col s12 m4">
          <input id="input_text_9_2" type="text" data-length="20">
          <label for="input_text_9_2">Input text</label>
        </div>

        <div class="input-field col s12 m4">
          <input id="input_text_9_3" type="text" data-length="20">
          <label for="input_text_9_3">Input text</label>
        </div>
      </div>
        
        
        <div class="row center">
          <br>
          <br>
          <button id="submit-button" class="btn-large waves-effect waves-light orange">See my outcomes</button>
        </div>
        <br>

      </div>
    </div>
    <br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <h5 class="white-text transparent">Footer Content</h5>
      <p class="white-text transparent">Course Learning Outcomes (CLO) are learner-focused statements of what students are
            expected to evidence or demonstrate upon completion of a course. They specify what
            students are expected to know and do as a result of learning in the course. Identify what students are expected to demonstrate on completion of their program or course, use action verbs such as identify, compare, apply, analyse, evaluate, create.
            Keep learning outcomes to one short statement. If more than one statement in a learning outcome, make two.
            Avoid using passive verbs/phrases such as "be familiar with". There are no hard rules to the number of learning outcomes, though normally 4-10 is about right per program and course.  AQF coursework learning outcome descriptors are between 4-10 per level with Bachelors at 8, Graduate Certificate at 9, Masters at 10.
            Learning outcomes must be achievable, relevant, timely, consistent and succinct and clearly understandable by students and graduate employers.
      </p>           
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">A Team</a>
      </div>
    </div>
  </footer>


    <!--  Scripts-->
    <script type="text/javascript" src=static/jquery-3.3.1.min.js></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
    <script  src="static/index.js"></script>
    <script  src="static/init.js"></script>
    <script>
      var verb_list = {{ verb_list|tojson }};
      var key_phrases_list = {{ key_phrases_list|tojson }};
    </script>
    <script type="text/javascript" src=static/generate2.js></script>
    <script>
    $(document).ready(function(){

      var verb;
      var key_phrase;
      var context;
      $("#submit-button").click(function(){
        var outcome_list=[];
        for (var j=1;j<7;j++){
            verb = $("#outcome_verb_"+j+" :selected").text();
            key_phrase = $("#outcome_key_phrases_"+j+" :selected").text();
            context = $("#input_text_"+j).val();
            if(verb == "Choose the key verb" ||  key_phrase == "Choose the key phrase"){
              continue;
            }
            console.log(verb+" "+key_phrase+" "+context);
            outcome_list.push(verb+" "+key_phrase+" "+context);
        }
        for(var j=7;j<10;j++){
          verb = $("#input_text_"+j+"_1").val();
          key_phrase = $("#input_text_"+j+"_2").val();
          context = $("#input_text_"+j+"_3").val();
          if(verb == "" ||  key_phrase == ""){
            continue;
          }
          outcome_list.push(verb+" "+key_phrase+" "+context);
        }
        $.ajax({
    　　　　type:'post',
    　　　　url:"/generate3",
    　　　　data:JSON.stringify({outcome_list: JSON.stringify(outcome_list),
                               }),
    　　　　contentType : 'application/json',
    　　　　success:function(data){
              window.location.href = "/generate3";
    　　　　},
    　　　　error: function (XMLHttpRequest, textStatus, errorThrown){
    　　　　　　alert("error");
    　　　　}
        });
      });
    });

  </script>
  
  
</body>
  

  
</html>
