<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Learning outcome generator</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/generate1.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div id="index-banner orange" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
          <div class="progress">
              <div class="determinate" style="width: 33%"></div>
          </div>
          <br><br>
          <h4 class="header center orange-text text-lighten-2">Choose relevant key phrases and verbs</h4>
          <br><br>
          <p class="flow-text">We have extracted relevant key phrases from the description of the course you are after.
              Course Learning Outcomes (CLO) are learner-focused statements of what students are
              expected to evidence or demonstrate upon completion of a course. They specify what
              students are expected to know and do as a result of learning in the course. 
              Identify what students are expected to demonstrate on completion of their program or course, 
              use action verbs such as identify, compare, apply, analyse, evaluate, create.
              Keep learning outcomes to one short statement. If more than one statement in a learning outcome, make two.
              Avoid using passive verbs/phrases such as "be familiar with". 
              There are no hard rules to the number of learning outcomes, 
              though normally 4-10 is about right per program and course.  
          </p>
      </div>
    </div>
  </div>
 
  <div class="container">
    <div class="section">
      <h5 class="header center grey-text text-darken-1">Key phrases of the course</h5>
      <br><br>
      <fieldset class="box" id="location_phrases">

      </fieldset>
    </div>
  </div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <h5 class="header center grey-text text-darken-1">Brook's taxonomy of knowledge verbs</h5>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons small">brush</i></h2>
            <h5 class="center">Create</h5>
              <select multiple id="Create">
                <option value="">Choose your option</option>
                <option value="Create">Create</option>
                <option value="Generate">Generate</option>
                <option value="Design">Design</option>
                <option value="Construct">Construct</option>
                <option value="Compose">Compose</option>
              </select>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons small">assignment</i></h2>
            <h5 class="center">Evaluate</h5>
              <select multiple id="Evaluate">
                <option value="">Choose your option</option>
                <option value="Evaluate">Evaluate</option>
                <option value="Critique">Critique</option>
                <option value="Review">Review</option>
                <option value="Judge">Judge</option>
                <option value="Justify">Justify</option>
              </select>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons small">assessment</i></h2>
            <h5 class="center">Analyse</h5>
              <select multiple id="Analyse">
                <option value="">Choose your option</option>
                <option value="Analyse">Analyse</option>
                <option value="Integrate">Integrate</option>
                <option value="Organise">Organise</option>
                <option value="Relate">Relate</option>
                <option value="Deconstruct">Deconstruct</option>


              </select>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons small">check</i></h2>
            <h5 class="center">Apply</h5>
              <select multiple id="Apply">
                <option value="">Choose your option</option>
                <option value="Apply">Apply</option>
                <option value="Interpret">Intepret</option>
                <option value="Use">Use</option>
                <option value="Practice">Practice</option>
                <option value="Compute">Compute</option>

              </select>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons small">code</i></h2>
            <h5 class="center">Understand</h5>
              <select multiple id="Understand">
                <option value="">Choose your option</option>
                <option value="Understand">Understand</option>
                <option value="Explain">Explain</option>
                <option value="Describe">Describe</option>
                <option value="Compare">Compare</option>
                <option value="Illustrate">Illustrate</option>
              </select>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons small">bookmark</i></h2>
            <h5 class="center">Remember</h5>
              <select multiple id="Remember">
                <option value="">Choose your option</option>
                <option value="Recognize">Recognize</option>
                <option value="Identify">Identify</option>
                <option value="Recall">Recall</option>
                <option value="Retrieve">Retrieve</option>
                <option value="Select">Select</option>
              </select>
          </div>
        </div>

      </div>
      <br><br>
      <div class="row center">
        <button id="getstarted-button" class="btn-large waves-effect waves-light orange">Get Started</button>
      </div>
      <br><br>

    </div>
  </div>


  <!--  Scripts-->
  <script type="text/javascript" src=static/jquery-3.3.1.min.js></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
  <script  src="static/index.js"></script>
  <script  src="static/init.js"></script>
  <script>
      var key_phrases = {{ list|tojson }};
      var verb_wheel = {{ verb_wheel|tojson }};
  </script>
  <script type="text/javascript" src="static/generate1.js"></script>

  
</body>
  

  
</html>
