<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="urf-8">
        <title>

        </title>
        <link rel="stylesheet" href="static/landingpage.css")>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <div class="landing-page">
            <div class="page-content">
                <h1> Course Learning Outcomes UNSW </h1>
                <p>
                    content goes here

                </p>
                <a href="generate">Generate learning outcomes</a>
                <p>

                </p>
                <a href="evaluate">Evaluate learning outcomes</a>
            </div>
        </div>
        
    <div class="text">
        <div>More text about the service</div>
        <div>Optional page, not sure how we will go about this</div>
    </div>

    </body>
</html>