<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>UNSW Course Learning Outcome Generator</title>
    <link rel="stylesheet" href="static/mainpage.css")>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

    <h1 align="center" style="color:#fff">Learning Outcome Generator</h1>
    <script>
      $( function() {
        var availableTags = {{ course_list|tojson }};

        $( "#tags" ).autocomplete({
            source:availableTags,
            max:10,
            minLength:3,
            limit:5
        });
      } );

    </script>
    <div class="wrapper">
    <div class="container ui-widget">
        <input id="tags" type="text" class="input" placeholder="Enter UNSW subject code">
        <input type="button" value="search" class="close-btn">
    </div>
</div>

</body>
</html>
