<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/generate1.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h5 id="location_phrases" class="header center orange-text text-lighten-2">Key phrases of the course</h5>
        <!-- the list goes here-->


        <br>
        <br>

      </div>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <h5 class="header center grey-text text-darken-1">Choose desired verbs of Brook's taxonomy of knowledge</h5>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons small">flash_on</i></h2>
            <h5 class="center">Create</h5>
              <select multiple id="Create">
                <option value="">Choose your option</option>
                <option value="generating">generating</option>
                <option value="planning">planning</option>
                <option value="designing">designing</option>
                <option value="construct">construct</option>
              </select>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons small">flash_on</i></h2>
            <h5 class="center">Evaluate</h5>
              <select multiple id="Evaluate">
                <option value="">Choose your option</option>
                <option value="checking">checking</option>
                <option value="coordinating">coordinating</option>
                <option value="detecting">detecting</option>
                <option value="critiquing">critiquing</option>
                <option value="judging">judging</option>
              </select>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons small">flash_on</i></h2>
            <h5 class="center">Analyse</h5>
              <select multiple id="Analyse">
                <option value="">Choose your option</option>
                <option value="differentiating">differentiating</option>
                <option value="organizing">organizing</option>
                <option value="attributing">attributing</option>
                <option value="coherence">coherence</option>

              </select>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons small">flash_on</i></h2>
            <h5 class="center">Apply</h5>
              <select multiple id="Apply">
                <option value="">Choose your option</option>
                <option value="executing">executing</option>
                <option value="carrying out">carrying out</option>
                <option value="implementing">implementing</option>
                <option value="using">using</option>

              </select>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons small">flash_on</i></h2>
            <h5 class="center">Understand</h5>
              <select multiple id="Understand">
                <option value="">Choose your option</option>
                <option value="interpreting">interpreting</option>
                <option value="exemplifying">exemplifying</option>
                <option value="classifying">classifying</option>
                <option value="summarizing">summarizing</option>
                <option value="inferring">inferring</option>
                <option value="comparing">comparing</option>
                <option value="explaining">explaining</option>
              </select>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons small">flash_on</i></h2>
            <h5 class="center">Remember</h5>
              <select multiple id="Remember">
                <option value="">Choose your option</option>
                <option value="recognizing">recognizing</option>
                <option value="identifying">identifying</option>
                <option value="recalling">recalling</option>
                <option value="retrieving">retrieving</option>
              </select>
          </div>
        </div>

      </div>

      <div class="row center">
        <button  id="getstarted-button" class="btn-large waves-effect waves-light orange">Get Started</button>
        <!--href="/generate2"-->
      </div>
      <br><br>

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <h5 class="white-text transparent">Footer Content</h5>
      <p class="white-text transparent">Course Learning Outcomes (CLO) are learner-focused statements of what students are
            expected to evidence or demonstrate upon completion of a course. They specify what
            students are expected to know and do as a result of learning in the course. Identify what students are expected to demonstrate on completion of their program or course, use action verbs such as identify, compare, apply, analyse, evaluate, create.
            Keep learning outcomes to one short statement. If more than one statement in a learning outcome, make two.
            Avoid using passive verbs/phrases such as "be familiar with". There are no hard rules to the number of learning outcomes, though normally 4-10 is about right per program and course.  AQF coursework learning outcome descriptors are between 4-10 per level with Bachelors at 8, Graduate Certificate at 9, Masters at 10.
            Learning outcomes must be achievable, relevant, timely, consistent and succinct and clearly understandable by students and graduate employers.
      </p>           
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script type="text/javascript" src=static/jquery-3.3.1.min.js></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
  <script  src="static/index.js"></script>
  <script  src="static/init.js"></script>
  <script>
    $(document).ready(function(){
      var key_phrases = {{list|tojson }};
      var verb_wheel = {{ verb_wheel|tojson }};
      $("#location_phrases").after("<br><br>");
      var temp = $("#location_phrases");
      for(var i=0; i<key_phrases.length; i++){
            temp.after("<div class='chip'>"+key_phrases[i]+"<i class='close material-icons'> close</i></div>");
      }
    });
    $( "#getstarted-button" ).click(function() {
      var verbs = ["Create", "Evaluate", "Analyse", "Apply", "Understand", "Remember"];
      var selectedVerbs = [];
      var selectedKeyPhrases = [];
      for (var i=0; i < verbs.length; i++){
          $.each($("#"+verbs[i]+" option:selected"), function(){
             selectedVerbs.push($(this).val());
        });
      }
      $("div.chip").each(function(){
        selectedKeyPhrases.push($(this).text());
      });
       <!--$.post("/generate2",-->
      <!--{-->
        <!--name:"Donald Duck",-->
        <!--city:"Duckburg"-->
      <!--},-->
      <!--function(data,status){-->
        <!--alert("Data: " + data + "\nStatus: " + status);-->
      <!--});-->
      <!--$.post("/generate2",-->
      <!--{-->
          <!--Verbs: JSON.stringify(selectedVerbs),-->
          <!--Key_phrases: JSON.stringify(selectedKeyPhrases)-->
      <!--},function(data, status){-->
        <!--alert("Data: " + data + "\nStatus: " + status);-->
      <!--});-->
      $.ajax({
　　　　type:'post',
　　　　url:"/generate2",
　　　　data:JSON.stringify({Verbs: JSON.stringify(selectedVerbs),Key_phrases: JSON.stringify(selectedKeyPhrases)}),
　　　　contentType : 'application/json',
　　　　success:function(data){
　　　　　　console.log(data);
　　　　},
　　　　error: function (XMLHttpRequest, textStatus, errorThrown){
　　　　　　alert("error");
　　　　}
    });
   });

  </script>
    
  


  
  
  
</body>
  

  
</html>
